@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model List<Product>
<a class=" btn btn-primary" asp-action="AddProduct" asp-controller="Product">Add Product</a>

<table class="table">
    <thead>
        <tr>
               <th scope="col">Select</th>
            <th scope="col">Product Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product cateogroy</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var d in Model)
        {
            <tr>
                <td><input type="checkbox" name="productIds" value="@d.id" /></td>
                <th scope="row">@d.id</th>
                <td>@d.pname</td>
                <td>@d.pcat</td>
                <td>@d.price</td>
                <td>
                    @if (!string.IsNullOrEmpty(@d.ImagePath))
                    {
                        <img src="@Url.Action("DownloadFile","Product", new { fileName = System.IO.Path.GetFileName(d.ImagePath) })" width="100" height="100" class="" value="Download" />
                        <a href="@Url.Action("DownloadFile","Product", new { fileName = System.IO.Path.GetFileName(d.ImagePath) })"  class="btn btn-outline-danger btn-sm" >Download</a>
                    }
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="EditProduct" asp-controller="Product" asp-route-id="@d.id">Edit</a>
                    <a class="btn btn-danger" asp-action="DeleteProduct" asp-controller="Product" asp-route-id="@d.id">Delete</a>
                    </td>
            </tr>
        }
       
     
    </tbody>
</table>
<button type="submit" class="btn btn-danger" Id="deleteSelected" >Delete Selected Products</button>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha384-VPFmTjq0pW1f4JjwuNPE0wHvEyWWuoF+1K4qLY8p0cg3CjcS+T6clXPMO5E9I4mJ"
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#deleteSelected').on('click', function (event) {
                event.preventDefault();
                var productIds = [];

                // Get all checked checkboxes
                $('input[name="productIds"]:checked').each(function () {
                    productIds.push(parseInt($(this).val()));
                });

                if (productIds.length === 0) {
                    alert("No products selected.");
                    return;
                }

                // Send AJAX request to delete products
                $.ajax({
                    url: '/api/Product/DeleteMultipleProducts',
                   type: 'DELETE',
                    contentType: 'application/json',
                    data: JSON.stringify(productIds),
                    success: function (response) {
                        alert(response); // Display success message
                        window.location.reload(); // Refresh page after deletion
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    </script>
}
